<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="zhega.andro.main.hookelaw"
          android:versionCode="1" android:versionName="1.0">
    <application android:label="Hooke" android:icon="@drawable/icon">
        <activity android:label="Hooke" android:name="zhega.andro.main.hookelaw.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="zhega.andro.main.hookelaw.Hooke" android:screenOrientation="landscape" android:configChanges="orientation|keyboard"/>
    </application>
</manifest>
