
@{
    ViewData["Title"] = "Unduh Panduan";
}

<a href="https://igracias.telkomuniversity.ac.id/download/usermanual/usermanual_Aplikasi%20Pusat%20Bahasa%20(Peserta)%20V%201.1.pdf">Buku Panduan Aplikasi Untuk Peserta</a>