@{
    ViewData["Title"] = "Pendaftaran";
}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#Tes" role="tab" aria-controls="nav-home" aria-selected="true">Tes Bahasa</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#Kursus" role="tab" aria-controls="nav-profile" aria-selected="false">Kursus Bahasa</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="Tes" role="tabpanel" aria-labelledby="nav-home-tab">
        <form method="post">
            <div class="container-fluid border border-primary rounded my-1">
                <div class="form-group row m-2">
                    <label for="tipePendaftar" class="col-form-label">Pilih Tipe Pendaftar</label>
                    <div class="col-md-auto">
                        <select class="form-control" id="tipePendaftar" name="tipePendaftar">
                            <option value="Mahasiswa">Mahasiswa</option>
                        </select>
                    </div>

                    <label for="nim" class="col-form-label">NIM Mahasiswa</label>
                    <div class="col-md-auto">
                        <input type="text" class="form-control" id="nim" name="nim" required />
                    </div>

                    <label for="nama" class="col-form-label">Nama Mahasiswa</label>
                    <div class="col-md-auto">
                        <input type="text" class="form-control" id="nama" name="nama" required />
                    </div>
                </div>
            </div>
            <div class="container-fluid border border-primary rounded my-1">
                <div class="form-group row m-2">
                    <label for="tipetes" class="col-form-label">Pilih Tes</label>
                    <div class="col-md-auto">
                        <select class="form-control" id="tipetes" name="tipetes">
                            <option value="ECCT">ECCT</option>
                            <option value="EPrT">EPrT</option>
                        </select>
                    </div>

                    <label for="member" class="col-form-label">Member Status</label>
                    <div class="col-md-auto">
                        <select class="form-control" id="member" name="member">
                            <option value="Civitas">Civitas</option>
                        </select>
                    </div>

                    <label for="date" class="col-form-label">Tanggal Tes</label>
                    <div class="col-md-auto">
                        <input type="date" class="form-control" id="date" name="date" required/>
                    </div>

                    <label for="waktutes" class="col-form-label">Waktu Tes</label>
                    <div class="col-md-auto">
                        <select class="form-control" id="waktutes" name="waktutes">
                            <option value="08:00">08:00</option>
                            <option value="10:30">10:30</option>
                            <option value="13:30">13:30</option>
                        </select>
                    </div>

                    <label for="ruangan" class="col-form-label">Ruangan</label>
                    <div class="col-md-auto">
                        <select class="form-control" id="ruangan" name="ruangan">
                            <option value="A101">A101</option>
                            <option value="A102">A102</option>
                            <option value="A103">A103</option>
                        </select>
                    </div>

                    <button type="button" class="btn btn-outline-primary">Check Quota</button>
                </div>
            </div>
            <div class="container-fluid border border-primary rounded my-1">
                <div class="form-group row m-2">
                    <label for="tujuan" class="col-form-label">Tujuan Tes</label>
                    <div class="col-md-auto">
                        <select class="form-control" id="tujuan" name="tujuan">
                            <option value="b.ing">Matakuliah (bhs. Inggris)</option>
                            <option value="Sidang">Sidang</option>
                            <option value="Wisuda">Wisuda</option>
                            <option value="Lainnya">Lainnya</option>
                        </select>
                    </div>

                    <label for="biaya" class="col-form-label">Biaya (Rp)</label>
                    <div class="col-md-auto">
                        <input type="text" class="form-control" id="biaya" name="biaya" readonly value="125.000" required/>
                    </div>
                </div>
            </div>
            <div class="container-fluid border border-primary rounded my-1">
                <div class="form-group row m-2">
                    <label for="total" class="col-form-label">Total Biaya Rp</label>
                    <div class="col-md-auto">
                        <input type="text" class="form-control" id="total" name="total" readonly value="125.000" required/>
                    </div>

                    <label for="bukti" class="col-form-label">Bukti Pembayaran</label>
                    <div class="col-md-auto">
                        <input type="file" class="form-control-file" id="bukti" name="bukti"/>
                        <small class="form-text text-muted">*file JPG (maks. 350kb)</small>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary my-2">Simpan</button>
        </form>
    </div>
    <div class="tab-pane fade show" id="Kursus" role="tabpanel" aria-labelledby="nav-home-tab">
        <form asp-controller="Pendaftaran" asp-action="regisKursus" method="post">
            <div class="container-fluid border border-primary rounded my-1">
                <div class="form-group row m-2">
                    <label for="tipePendaftar" class="col-form-label">Pilih Tipe Pendaftar</label>
                    <div class="col-md-auto">
                        <select class="form-control" id="tipePendaftar" name="tipePendaftar">
                            <option value="Mahasiswa">Mahasiswa</option>
                        </select>
                    </div>

                    <label for="nim" class="col-form-label">NIM Mahasiswa</label>
                    <div class="col-md-auto">
                        <input type="text" class="form-control" id="nim" name="nim" required />
                    </div>

                    <label for="nama" class="col-form-label">Nama Mahasiswa</label>
                    <div class="col-md-auto">
                        <input type="text" class="form-control" id="nama" name="nama" required />
                    </div>
                </div>
            </div>
            <div class="container-fluid border border-primary rounded my-1">
                <div class="form-group row m-2">
                    <label for="tipetes" class="col-form-label">Pilih Tes</label>
                    <div class="col-md-auto">
                        <select class="form-control" id="tipetes" name="tipetes">
                            <option value="ECCT">ECCT</option>
                            <option value="EPrT">EPrT</option>
                        </select>
                    </div>

                    <label for="member" class="col-form-label">Member Status</label>
                    <div class="col-md-auto">
                        <select class="form-control" id="member" name="member">
                            <option value="Civitas">Civitas</option>
                        </select>
                    </div>

                    <label for="date" class="col-form-label">Tanggal Tes</label>
                    <div class="col-md-auto">
                        <input type="date" class="form-control" id="date" name="date" required />
                    </div>

                    <label for="waktutes" class="col-form-label">Waktu Tes</label>
                    <div class="col-md-auto">
                        <select class="form-control" id="waktutes" name="waktutes">
                            <option value="08:00">08:00</option>
                            <option value="10:30">10:30</option>
                            <option value="13:30">13:30</option>
                        </select>
                    </div>

                    <label for="ruangan" class="col-form-label">Ruangan</label>
                    <div class="col-md-auto">
                        <select class="form-control" id="ruangan" name="ruangan">
                            <option value="A101">A101</option>
                            <option value="A102">A102</option>
                            <option value="A103">A103</option>
                        </select>
                    </div>

                    <button type="button" class="btn btn-outline-primary">Check Quota</button>
                </div>
            </div>
            <div class="container-fluid border border-primary rounded my-1">
                <div class="form-group row m-2">
                    <label for="tujuan" class="col-form-label">Tujuan Tes</label>
                    <div class="col-md-auto">
                        <select class="form-control" id="tujuan" name="tujuan">
                            <option value="b.ing">Matakuliah (bhs. Inggris)</option>
                            <option value="Sidang">Sidang</option>
                            <option value="Wisuda">Wisuda</option>
                            <option value="Lainnya">Lainnya</option>
                        </select>
                    </div>

                    <label for="biaya" class="col-form-label">Biaya (Rp)</label>
                    <div class="col-md-auto">
                        <input type="text" class="form-control" id="biaya" name="biaya" readonly value="125.000" required />
                    </div>
                </div>
            </div>
            <div class="container-fluid border border-primary rounded my-1">
                <div class="form-group row m-2">
                    <label for="total" class="col-form-label">Total Biaya Rp</label>
                    <div class="col-md-auto">
                        <input type="text" class="form-control" id="total" name="total" readonly value="125.000" required />
                    </div>

                    <label for="bukti" class="col-form-label">Bukti Pembayaran</label>
                    <div class="col-md-auto">
                        <input type="file" class="form-control-file" id="bukti" name="bukti" />
                        <small class="form-text text-muted">*file JPG (maks. 350kb)</small>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary my-2">Simpan</button>
        </form>
    </div>
</div>