@{
    ViewData["Title"] = "Home Page";
}

<nav>
    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#alur" role="tab" aria-controls="nav-home" aria-selected="true">Alur Pendaftaran</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#profillac" role="tab" aria-controls="nav-profile" aria-selected="false">Profil Lac</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#tesbahasa" role="tab" aria-controls="nav-contact" aria-selected="false">Tes Bahasa</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#kursusbahasa" role="tab" aria-controls="nav-contact" aria-selected="false">Kursus Bahasa</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#Layanan" role="tab" aria-controls="nav-contact" aria-selected="false">Layanan Lainnya</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#help" role="tab" aria-controls="nav-contact" aria-selected="false">Pusat Bantuan</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="alur" role="tabpanel" aria-labelledby="nav-home-tab">
        This is Alur Pendaftaran
    </div>
    <div class="tab-pane fade" id="profillac" role="tabpanel" aria-labelledby="nav-profile-tab">
        This is Alur Profil LaC
    </div>
    <div class="tab-pane fade" id="tesbahasa" role="tabpanel" aria-labelledby="nav-contact-tab">
        This is Alur Tes Bahasa
    </div>
    <div class="tab-pane fade" id="kursusbahasa" role="tabpanel" aria-labelledby="nav-contact-tab">
        This is Alur Kursus Bahasa
    </div>
    <div class="tab-pane fade" id="Layanan" role="tabpanel" aria-labelledby="nav-contact-tab">
        This is Alur Layanan
    </div>
    <div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="nav-contact-tab">
        This is Alur Bantuan
    </div>
</div>
